h1{

font-size: 30px;

text-align: center;

color: #6448b1

}


h2{

font-size: 30px;

text-align: center;

color: #6448b1

}


p{

font-size: 20px;

text-align: left;

font-family: Helvetica, sans-serif;

}


body {

background-color: #d1d149;

}


main {

background-color: #dc9c1c;

}


footer{

font-size: 20px;

text-align: center;

color: #6448b1

}